doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Elegant Vanilla JS Calculator
    link(rel='stylesheet', href='./css/style.css')
  body
    .iphoneX
      .top
      .app
        .textview
          .input 234 X 52
          .result 12,168
        .btns
          .btn.clear C
          .btn.back ☞
          .btn.percent %
          .btn.devide ÷
          .btn 7
          .btn 8
          .btn 9
          .btn.multiply ✕
          .btn 4
          .btn 5
          .btn 6
          .btn.minus –
          .btn 1
          .btn 2
          .btn 3
          .btn.plus ＋
          .btn.zero O
          .btn .
          .btn.equals =
        .line
        
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='./js/script.js')